<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid ">
  <div>

    <nav class="navbar navbar-expand-md navbar-dark mynavbar">
      <a class="navbar-brand abs app-nav-link-color" href="#">HOME SWEET HOME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav ml-auto">
          <li *ngIf="user" class="nav-item ">
            <a class="nav-link  app-nav-bar-link app-nav-link-color" >HI {{user.name}}</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link  app-nav-bar-link app-nav-link-color" routerLink="/general" >Weather</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link  app-nav-bar-link app-nav-link-color" routerLink="/calendar" >Calendar</a>
          </li>
          <li *ngIf="!user" class="nav-item ">
            <button class="nav-link  app-nav-bar-link app-nav-link-color bg-transparent" (click)="socialSignIn()"  >   Sign up / Sign in with Google</button>
          </li>
         
        </ul>
      </div>
    </nav>
  </div>


  <div class="container-fluid app-route">
    <router-outlet></router-outlet>
  </div>
</div>
